<script>
  import { url, isActive } from "@roxi/routify";
  const _links = [
    ["/", "Accueil"],
    ["/infos", "Infos"],
    ["/contact", "Contact"],
  ];
</script>


<nav>
  {#each _links as [path, name]}
    <a href={$url(path)} class="link" class:active={$isActive(path)}>
      {name}
    </a>
  {/each}
</nav>